// @font-face {
//     font-family: avenir;
//     src: url(../fonts/AvenirLTStd-Roman.otf);
//   }
  
  html {
    overflow: hidden;
  }
  body {
    font-size: 100% !important;
    font-family:"SansHead-Regular" !important;
    width: 100%;
    height: 100%;
    background-color: #000000 !important;
    position: absolute;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    // background-image: url('../videos/Billie Eilish - bad guy.mp4');
  }
  .txt-primary {
    color: $color-primary !important;
  }
  
  .txt-secundary {
    color: $color-secundary !important;
  }
  
  .txt-ligth {
    color: $color-ligth;
  }
  .thriller {
    width:100%;
    height:auto;
  }
  .home-main {
      width:100%;
      height: 100%;
      background-color: #000000;
  }
  .weapons2 {
    cursor: pointer;
    background-image: url("../1.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: local;
    overflow: scroll;
  }
  .weapons {
    // width:100%;
    // min-height: 100%;
    cursor: pointer;
    background-image: url("../swomsvubhvhl3mimqgm2.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: local;
    // background-image: url("/w3images/photographer.jpg");
    // background-color: #cccccc;
    // height: 400px;
    // position: relative;
    // background-size: cover;
    // background-position: center;
    // overflow-x: hidden;
    overflow: scroll;
    
   
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
  }
  .group-image {
      width:100%;
      height: auto;
      max-width: 171px;
      max-height: 49px;
  }
  // hamburger menu style
  .bm-burger-button {
    // position: sticky;
    width: 36px;
    height: 30px;
    margin-right: 80px;
    // left: 36px;
    top: 0px;
    cursor: pointer;
  }
  .bm-burger-bars {
    background-color: #FFF;
  }
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    margin-right: -5px;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }

//   .bm-overlay {
//     background: rgba(0, 0, 0, 0.3);
//   }
  .bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
  }
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
  // modal style
  .modal-backdrop {
      background-color: rgba(182, 241, 207, 20) !important;
  }
  .modal-content {
      background-color: transparent !important;
      border: none !important;
  }
  .modal-header {
      padding: 0 !important;
      border: none !important;
  }
  .close {
    font-size: 2.5rem !important;
  }